@model Repositorio.Entidade.Usuario
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="fadeIn first">
            <p>
                <h3>Informe os seus dados</h3>
            </p>
        </div>
        @using (Html.BeginForm("Cadastro", "Cadastro", FormMethod.Post))
        {
            @Html.TextBoxFor(x => x.Cidadao.Nome, new { @class = "fadeIn second", placeholder = "Nome completo"})
            @Html.TextBoxFor(x => x.Cidadao.NomeMae, new { @class = "fadeIn second", placeholder = "Nome da mãe" })
            @Html.TextBoxFor(x => x.Cidadao.Cpf, new { @class = "fadeIn second", placeholder = "CPF" })
            @Html.TextBoxFor(x => x.Email, new { @class = "fadeIn second", placeholder = "E-mail" })
            @Html.PasswordFor(x => x.Senha, new { @class = "fadeIn second", placeholder = "Senha" })
            <input type="password" id="confirmarsenha" class="fadeIn third" name="confirmarsenha" placeholder="Confirmar senha">
            <input type="submit" class="fadeIn fourth" value="Cadastrar">
        }

        <div id="formFooter">
            <a class="underlineHover" href="#">Já possui um cadastro?  Clique aqui para acessar!</a>
        </div>
        @ViewBag.errosenha

    </div>
</div>

